html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

div :nth-child(4) {
  color: black;
}

div {
  padding: .5rem;
  text-align: center;
}
